.vl {
    border-left: solid;
    height: 60px;
}
.main-sidebar {
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)),url("../img/theme/background.jpg");
    background-position: top;
}
.card-header {
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),url("../img/theme/background.jpg");
    background-position: bottom;
}

.main-header {
    background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)),url("../img/theme/background.jpg");
    background-position: top;
}
